body {
  background-color: #18004d;
  background-image: url("./assets/subtract.svg");
}

.column {
  margin: 50px 10px;

  /* width: 100%; */
  /* height: 300px; */
  display: flex;
  /* grid-auto-flow: column; */
  /* grid-auto-rows: min-content; */
  /* align-items: stretch; */
  /* padding-bottom: -10px; */
  /* display: flex;  */
  text-align: center;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
}

.player_stat_grid {
  position: absolute;
  z-index: 5;
  display: flex;
  color: white;
}

.player_name {
  position: absolute;
  z-index: 5;
  font-family: "Oswald";
  font-style: bold;
  font-weight: 1200;
  font-size: 1.5vw;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  top: 0;
  /* right:0; */
  padding-top: 65%;
  width: 100%;
}

.player_stat {
  font-family: "Oswald";
  font-style: bold;
  font-weight: 1200;
  font-size: 1.2vw;
  z-index: 5;
  /* color: white; */
  /* color: rgba(255, 255, 255, 0.5); */
  position: absolute;
  top: 0;
  right: 0;
  /* width:100%; */
}

.parent {
  position: relative;
  transition: transform 0.2s;
  width: 20%;
  padding-bottom: 20vw;
}

.card_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.player_avg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  font-family: "Oswald";
  font-style: bold;
  font-weight: 1200;
  font-size: 1.6vw;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 3%;
  padding-right: 30%;
}

.pos_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  z-index: 5;
  padding-top: 35%;
  padding-left: 15%;
}

.player_img {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  padding-left: 32%;
  padding-bottom: 90%;
  width: 65%;
}

.parent:hover {
  z-index: 10;
  transform: scale(
    2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.box-container {
  text-align: center;
  margin: 50px auto;
  width: 70%;
  /* height: 1000px; */
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
  background: #ebfe40;
  display: grid;
  grid-auto-flow: row;
}

.box-container-team {
  text-align: center;
  margin: 25px auto;
  width: 95%;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
  background: #18004d;
  align-items: center;
  justify-items: center;
}

.box-container-header {
  text-align: center;
  align-items: center;
  margin: 50px auto;
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
  background: #ebfe40;
}

#root {
  /* max-width: 1500px; */
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  margin: 0px auto;
  font-family: "Oswald";
  font-style: bold;
  font-weight: 1200;

  line-height: 140%;
  color: black;

  /* or 33px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-size: 4vw;
}

h2 {
  margin: -40px 0px;
  font-family: "Oswald";
  font-style: bold;
  font-weight: 1200;
  font-size: 30.5065px;
  padding-top: 50px;
  padding-bottom: 0px;
  color: white;
  height: 50px;
  /* or 33px
  
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase; */
  font-size: 3vw;
  padding-bottom: 4vw;
}
